---
common-ext-css:
  - href: "https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    sri: "sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+"
common-css:
  - "/css/main-minimal.css"
common-ext-js:
  - href: "https://code.jquery.com/jquery-1.12.4.min.js"
    sri: "sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  - href: "https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"
    sri: "sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw"
---

<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: 'en' }}">

  {% include head.html %}

  <body>
    {% if site.google_adsense %}
    <amp-auto-ads type="adsense"
      data-ad-client="{{ site.google_adsense }}">
    </amp-auto-ads>
    {% endif %}
    
    <div role="main" class="container main-content">
      {{ content }}
    </div>

    {% include footer-minimal.html %}

    {% include footer-scripts.html %}

  </body>
</html>
